@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
:root {
	@apply h-full;
}

@layer base {
	:root {
		--background: 0 0% 100%;
		--foreground: 222.2 84% 4.9%;

		--card: 0 0% 100%;
		--card-foreground: 222.2 84% 4.9%;

		--popover: 0 0% 100%;
		--popover-foreground: 222.2 84% 4.9%;

		--primary: 352 55% 36%;
		--primary-foreground: 0 0% 100%;

		--secondary: 352 43% 94%;
		--secondary-foreground: 352 48% 24%;

		--muted: 18 32% 95%;
		--muted-foreground: 12 16% 42%;

		--accent: 352 43% 94%;
		--accent-foreground: 352 48% 24%;

		--destructive: 0 84.2% 60.2%;
		--destructive-foreground: 210 40% 98%;

		--border: 18 24% 88%;
		--input: 18 24% 88%;
		--ring: 352 55% 36%;

		--sidebar-background: 42 56% 96%;
		--sidebar-foreground: 24 30% 22%;
		--sidebar-primary: 352 55% 36%;
		--sidebar-primary-foreground: 0 0% 100%;
		--sidebar-accent: 43 49% 91%;
		--sidebar-accent-foreground: 24 30% 22%;
		--sidebar-border: 40 30% 84%;
		--sidebar-ring: 352 55% 36%;

		--radius: 0.5rem;
	}

	.dark {
		--background: 222.2 84% 4.9%;
		--foreground: 210 40% 98%;

		--card: 222.2 84% 4.9%;
		--card-foreground: 210 40% 98%;

		--popover: 222.2 84% 4.9%;
		--popover-foreground: 210 40% 98%;

		--primary: 352 62% 68%;
		--primary-foreground: 352 36% 14%;

		--secondary: 352 24% 18%;
		--secondary-foreground: 20 30% 94%;

		--muted: 352 18% 17%;
		--muted-foreground: 215 20.2% 65.1%;

		--accent: 352 24% 18%;
		--accent-foreground: 20 30% 94%;

		--destructive: 0 62.8% 30.6%;
		--destructive-foreground: 210 40% 98%;

		--border: 352 18% 24%;
		--input: 352 18% 24%;
		--ring: 352 62% 68%;

		--sidebar-background: 24 14% 12%;
		--sidebar-foreground: 43 32% 90%;
		--sidebar-primary: 352 62% 68%;
		--sidebar-primary-foreground: 24 14% 12%;
		--sidebar-accent: 24 12% 18%;
		--sidebar-accent-foreground: 43 32% 90%;
		--sidebar-border: 24 12% 22%;
		--sidebar-ring: 352 62% 68%;
	}
}

@layer base {
	* {
		@apply border-border;
	}
	body {
		@apply bg-background text-foreground;
	}
	.perspective {
		perspective: 1000px;
	}

	.transform-style-preserve-3d {
		-webkit-transform-style: preserve-3d;
		transform-style: preserve-3d;
	}

	.backface-hidden {
		-webkit-backface-visibility: hidden;
		backface-visibility: hidden;
		transform: translateZ(0);
		-webkit-transform: translateZ(0);
	}

	.rotate-y-180 {
		-webkit-transform: rotateY(180deg);
		transform: rotateY(180deg);
	}
}
